.div1{
    width: 400px;
    height: 400px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 66%, rgba(252,176,69,1) 100%);
  position: relative;
    top: 100px;
    left: 700px;
    border-radius: 100px;}
h1{text-align: center;}
.div2{
    height: 200px;
    width: 200px;
    border-radius: 80px;
    border: 20px solid white;
    position: relative;
    left: 75px;
    top: 75px;}
.div3{
    height: 80px;
    width: 80px;
    border: 20px solid white;
    position: relative;
    left: 39px;
    top: 22px;
    border-radius: 68px;}
.div4{
    width: 0px;
    height: 0px;
    border: 10px solid white;
    position: relative;
    top: 19px;
    left: 151px; 
    border-radius: 20px;
}